@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Poppins";
}
.light {
  --primaryText: 0, 0, 0;
}
.dark {
  --primaryText: 255, 255, 255;
}
.table-header {
  white-space: nowrap;
  border-bottom: 1px solid rgb(176, 176, 176);
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 1rem 0.5rem;
  gap: 0.4rem;
}
.status-open {
  color: rgb(255, 140, 0);
  background-color: rgb(253, 242, 214);
}
.status-closed {
  color: rgb(0, 180, 0);
  background-color: rgb(210, 252, 217);
}
.status-rejected {
  background-color: rgb(252, 220, 220);
  color: rgb(255, 0, 0);
}
.status-pending {
  background-color: rgb(255, 255, 0);
  color: rgb(0, 0, 0);
}
.status-cancelled {
  background-color: rgb(212, 212, 212);
  color: rgb(0, 0, 0);
}
.status-in-progress {
  background-color: rgb(223, 247, 255);
  color: rgb(0, 198, 229);
}
.status-investigating {
  background-color: rgb(255, 223, 249);
  color: rgb(229, 0, 172);
}
th {
  position: sticky;
  top: 0;
  background-color: white;
}
.table-row-item {
  padding: 4px 8px;
  border-top: 1px solid rgb(236, 236, 236);
}
.sort-radio-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
