@import "tailwindcss";

@theme {
  --color-brand-primary: var(--brand-primary);
  --color-primary-bg: rgba(var(--primary-bg));
  --color-secondary-bg: rgba(var(--secondary-bg));
  --color-primary-text: rgba(var(--primary-text));
  --color-secondary-text: rgba(var(--secondary-text));
  --color-border-color: rgba(var(--border));
  --color-border-dark-color: rgba(var(--border-dark));
  --color-text-input-color: rgba(var(--text-input));
  --color-success-color: var(--success);
  --color-error-color: var(--error);
  --color-icon-color: rgba(var(--icon));
  --color-hover-menu-color: rgba(var(--hover-menu));
  --color-active-menu-color: rgba(var(--active-menu));
  --color-cta-color: var(--cta-color);
}

* {
  box-sizing: border-box;
  font-family: "Poppins";
}
.light {
  --brand-primary: var(--color-blue-700);
  --primary-bg: 255, 255, 255;
  --secondary-bg: 245, 245, 245;
  --primary-text: 0, 0, 0;
  --secondary-text: 60, 60, 60;
  --border: 230, 230, 230;
  --border-dark: 200, 200, 200;
  --text-input: 255, 255, 255;
  --success: var(--color-green-500);
  --error: var(--color-red-500);
  --icon: 80, 80, 80;
  --hover-menu: 235, 235, 240;
  --active-menu: 225, 225, 245;
  --cta-color: var(--color-indigo-700);
}
.dark {
  --brand-primary: var(--color-blue-400);
  --primary-bg: 0, 0, 0;
  --primary-bg: 24, 24, 24;
  --secondary-bg: 31, 31, 31;
  --primary-text: 225, 225, 225;
  --secondary-text: 205, 205, 205;
  --border: 68, 68, 68;
  --border-dark: 98, 98, 98;
  --text-input: 40, 40, 40;
  --success: var(--color-green-400);
  --error: var(--color-red-400);
  --icon: 175, 175, 175;
  --hover-menu: 45, 45, 45;
  --active-menu: 55, 55, 65;
  --cta-color: var(--color-indigo-500);
}
.table-header {
  white-space: nowrap;
  border-bottom: 1px solid var(--color-border-color);
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 1rem 0.5rem;
  gap: 0.4rem;
  color: var(--color-primary-text);
}
.status-open {
  color: rgb(255, 140, 0);
  background-color: rgb(253, 242, 214);
}
.status-closed {
  color: rgb(0, 180, 0);
  background-color: rgb(210, 252, 217);
}
.status-rejected {
  background-color: rgb(252, 220, 220);
  color: rgb(255, 0, 0);
}
.status-pending {
  background-color: rgb(255, 255, 0);
  color: rgb(0, 0, 0);
}
.status-cancelled {
  background-color: rgb(212, 212, 212);
  color: rgb(0, 0, 0);
}
.status-in-progress {
  background-color: rgb(223, 247, 255);
  color: rgb(0, 198, 229);
}
.status-investigating {
  background-color: rgb(255, 223, 249);
  color: rgb(229, 0, 172);
}
th {
  position: sticky;
  top: 0;
  background-color: var(--color-primary-bg);
}
.table-row-item {
  padding: 4px 8px;
  border-top: 1px solid var(--color-border-color);
  color: var(--color-primary-text);
}
.sort-radio-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px; /* or height for horizontal scroll bars */
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
  height: 50%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
